@model Capstone.Web.Models.IndexViewModel
@{
	ViewBag.Title = "Manage";
}

<h2 class="titles">@ViewBag.Title.</h2>

<p>@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <a class="links" href="@Url.Action("ChangePassword")">Change Password</a>
    <a class="links" href="@Url.Action("Search", "Home")">Search Landmarks</a>
    @foreach (var itinerary in Model.ItineraryList)
    {
        <h3><a href="#">@itinerary.ItinName</a></h3>
        <p>@itinerary.StartDate.ToString("MM/dd/yyyy")</p>
        <hr class="breaker2" />
    }


</div>


